.CurrentTemp img {
    display: inline-block;
    height: 60px;
    width: 60px;
    margin-top: unset;
    vertical-align: top;
    
}
.currentTemp {
    font-size: 48px;
    line-height: 60px;
    padding-left: 10px;
    color: #202124;
}
.units {
    font-size: 16px;
    line-height: 24px;
    display: inline-block;
    vertical-align: top;
    margin-top: 6px;

}
.temperature {
  display:inline;
}