.CurrentTemp {
    display: flex;
}
.CurrentTemp canvas {
    display: inline-block;
    margin-top: 5px;
    
}
.temperature {
  display:flex;
}
.tempValue {
    font-size: 48px;
    line-height: 60px;
    padding-left: 10px;
    color: #202124;
    font-weight:400;
}
.units {
    font-size: 16px;
    line-height: 24px;
    display: inline-block;
    vertical-align: top;
    margin-top: 6px;
}

