.Overview h3 {
  font-size: 4vw;
  line-height: 45px;
  font-weight: 500;
  color: #202124;
  margin: 0px;
  font-family: "Poppins", sans-serif;
}
.Overview ul {
  list-style: none;
  padding-top: 10px;
  padding-left: 0;
  font-size: 16px;
  color: #70757a;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 20px;
}
.Overview {
  margin-right: 5px;
}
