.Overview {
  margin-left: 20px;
}
.Overview h3 {
  font-size: 35px;
  line-height: 30px;
  font-weight: bold;
  color: #202124;
  margin: 0px;
  font-family: "Poppins", sans-serif;
}
.Overview ul {
  margin: 0;
  list-style: none;
  padding-top: 8px;
  padding-left: 0;
  font-size: 16px;
  color: #70757a;
  font-family: Arial, Helvetica, sans-serif;
}
.Overview span {
  font-size: 25px;
}
