.App {
  max-width: 600px;
    /* max-width: 50vw; */
    margin: 30px auto;
   
}
.App footer {
    font-size: 13px;
}
.base-background {
  animation: slide 4s ease-in-out infinite alternate;
  background-image: linear-gradient(
    -30deg,
    #0B5ED7 35%,
    #FFFFFF 35%
    
  );
  bottom: 0;
  left: -50%;
  opacity: 0.4;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -5;
}

.background-primary-section {
  animation-direction: alternate-reverse;
  animation-duration: 4s;
}

.background-secondary-section {
  animation-duration: 5s;
}


@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}
