.CurrentTemp {
  height: 100px;
  margin-right: 10px;
}
.CurrentTemp canvas {
  display: inline-block;
  margin-top: 5px;
  display: inline-flex;
}
.CurrentTemp li {
  list-style-type: none;
}

.tempValue {
  font-size: 50px;
  line-height: 30px;
  padding-right: 10px;
  color: #202124;
  font-weight: 500;
}
.units {
  font-size: 20px;
  line-height: 24px;
  display: inline-block;
  vertical-align: top;
  padding-bottom: 10px;
}
.units a {
  text-decoration: none;
}
.units a :hover {
  cursor: pointer;
}

